{% extends 'base.html' %}
{% block title %}
Services
{% endblock title %}

{% block head %}
<style>
  .btn {
    display: inline-block;
    background-color: #007bff; /* Change the color to your preference */
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #0056b3; /* Change the hover color to your preference */
  }
  </style>

    <!-- ======= Pricing Section ======= -->
<section id="pricing" class="pricing">
  <div class="container">

    <div class="section-header">
      <h2>Prices</h2>
      <p>Check my adorable pricing</p>
    </div>

    <div class="row gy-4">

      <div class="col-md-6">
        <div class="pricing-item d-flex flex-column justify-content-between">
          <h2>Weight Loss</h2>
          <p>"Diet for Loss Weight"</p>
          <h3>$FREE</h3><br>
          <a href="/WeightLoss" class="btn btn-primary">Get Started</a>
        </div>
      </div><!-- End Pricing Item -->

      <div class="col-md-6">
        <div class="pricing-item d-flex flex-column justify-content-between">
          <h2>Weight Gain</h2>
          <p>"Diet for Gain Weight"</p>
          <h3>$FREE</h3><br>
          <a href="/WeightGain" class="btn btn-primary">Get Started</a>
        </div>
      </div><!-- End Pricing Item -->

      <div class="col-md-6">
        <div class="pricing-item d-flex flex-column justify-content-between">
          <h2>Strength</h2>
          <p>"How to Increase your Strength"</p>
          <h3>$FREE</h3><br>
          <a href="/strength" class="btn btn-primary">Get Started</a>
        </div>
      </div><!-- End Pricing Item -->

      <div class="col-md-6">
        <div class="pricing-item d-flex flex-column justify-content-between">
          <h2>Basic Plan</h2>
          <p>"Basic Workout Plan For Gym"</p>
          <h3>Rs 29.00</h3><br>
          <a href="/basicplan" class="btn btn-primary">Get Started</a>
        </div>
      </div><!-- End Pricing Item -->

      

      <div class="col-md-6">
        <div class="pricing-item d-flex flex-column justify-content-between">
          <h2>Intermediate Plan</h3>
          <p>"Intermediate Workout Plan For Gym"</p>
          <h3>Rs 99.00</h3><br>
          <a href="/intermediate" class="btn btn-primary">Get Started</a>
        </div>
      </div><!-- End Pricing Item -->

      

      <div class="col-md-6">
        <div class="pricing-item d-flex flex-column justify-content-between">
          <h2>Pro Plan</h3>
          <p>"Advance Workout Plan For Gym"</p>
          <h3>Rs 199.00</h3><br>
          <a href="/pro" class="btn btn-primary">Get Started</a>
        </div>
      </div><!-- End Pricing Item -->

    </div>
  </div>
</section><!-- End Pricing Section -->


        </div>
    </section><!-- End Pricing Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="section-header">
          <h3>Testimonials</h3>
          <p>What they are saying</p>
        </div>

        <div class="slides-3 swiper">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  "Working as a fitness coach at this gym has been incredibly rewarding. The management fosters a supportive and collaborative environment, allowing me to focus on providing the best possible training experience for my clients. Seeing their progress and achievements is truly fulfilling."
                </p>
                <div class="profile mt-auto">
                  <img src="static/assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                  <h3>Saul Goodman</h3>
                  <h4>Ceo &amp; Founder</h4>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  "I'm grateful to be part of a team of dedicated fitness professionals who are committed to helping clients reach their goals. The emphasis on continuing education and professional development ensures that we stay at the forefront of industry trends and techniques, enabling us to deliver effective and personalized coaching."                </p>
                <div class="profile mt-auto">
                  <img src="static/assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
                  <h3>Sara Wilsson</h3>
                  <h4>Designer</h4>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  "The gym's commitment to holistic health and wellness aligns perfectly with my philosophy as a fitness coach. I appreciate the emphasis on not only physical strength but also mental and emotional well-being. It's fulfilling to empower clients to lead healthier, happier lives both inside and outside the gym."                </p>
                <div class="profile mt-auto">
                  <img src="static/assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
                  <h3>Jena Karlis</h3>
                  <h4>Store Owner</h4>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  "The management here truly values input from their fitness coaches and actively seeks feedback to improve the overall member experience. It's refreshing to work for an organization that prioritizes open communication and collaboration. I feel valued and supported in my role, which allows me to excel as a coach."                </p>
                <div class="profile mt-auto">
                  <img src="static/assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                  <h3>Matt Brandon</h3>
                  <h4>Freelancer</h4>
                </div>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <div class="stars">
                  <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
                </div>
                <p>
                  "I'm proud to be associated with a gym that prioritizes inclusivity and diversity. The leadership team actively promotes an environment where everyone feels welcome and respected, regardless of age, gender, or fitness level. It's a privilege to contribute to creating a space where everyone can thrive and achieve their fitness goals."                </p>
                <div class="profile mt-auto">
                  <img src="static/assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
                  <h3>John Larson</h3>
                  <h4>Entrepreneur</h4>
                </div>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->




  {% endblock head %}
